<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<app-navbar></app-navbar>
<app-presentations></app-presentations>
<app-competences></app-competences>
<app-parcour></app-parcour>
<app-experiences></app-experiences>
<app-projets></app-projets>
<app-documents></app-documents>
<app-contact></app-contact>
<router-outlet></router-outlet>
<app-footer></app-footer>
